.options-banner {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: 0;
    border-bottom: 1px solid #ccc;
    
}