.product-view {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 20px;
}
.product-item {
    display: flex;
    min-width: 100px;
    text-align: center;
    justify-content: space-around;
    border: 1px solid #333;
    padding: 8px 0px 8px 4px;
}
.product-item button {
    border: none;
}
.product-item button:hover {
    cursor: pointer;
}